<div class="container" id="contenu">
    <h2>Création d'un évènement</h2>
    <div class="row">
        <div id="table1" class="col-lg-10">
            <form id="element-form" method="post" action="" role="form">
                <div class="form-group row">
                    <label for="example-text-input" class="col-12 text-left col-form-label">Évènement</label>
                    <div class="col-12">
                        <input class="form-control" type="text" id="evenement" placeholder="Nom de l'évènement">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-12 text-left col-form-label">Type</label>
                    <div class="col-12">
                        <input class="form-control" type="search" id="type" placeholder="Nom de l'évènement">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-number-input" class="col-12 text-left col-form-label">Adresse</label>
                    <div class="col-12">
                        <input class="form-control" type="text" id="adress" placeholder="Rue, code postale, etc.">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-12 text-left col-form-label">Date</label>
                    <div class="col-12">
                        <input class="form-control" type="date" id="date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-12 text-left col-form-label">Time</label>
                    <div class="col-12">
                        <input class="form-control" type="time" id="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-12 text-left col-form-label">Email</label>
                    <div class="col-12">
                        <input class="form-control" type="email" id="email" placeholder="Votre email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-url-input" class="col-12 text-left col-form-label">Lien</label>
                    <div class="col-12">
                        <input class="form-control" type="url" id="lien" placeholder="Lien vers votre site">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-12 text-left col-form-label">Téléphone</label>
                    <div class="col-12">
                        <input class="form-control" type="tel" id="telephone" placeholder="Numéro de téléphone">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>